<ion-header>
  <ion-toolbar color="success">
    <ion-title>Menú</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/home'">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="'/create-match'" lines="none">
      <ion-icon name="add-circle-outline" slot="start" color="success"></ion-icon>
      <ion-label>Crear Partido</ion-label>
    </ion-item>
    <ion-item [routerLink]="'/match-list'" lines="none">
      <ion-icon name="list-outline" slot="start" color="success"></ion-icon>
      <ion-label>Lista de Partidos</ion-label>
    </ion-item>
    <ion-item [routerLink]="'../fotografias'" lines="none">
      <ion-icon name="image-outline" slot="start" color="success"></ion-icon>
      <ion-label>Fotografías</ion-label>
    </ion-item>
    <ion-item [routerLink]="'/tactibot'" lines="none">
      <ion-icon name="image-outline" slot="start" color="success"></ion-icon>
      <ion-label>Tactibot</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
